# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on: 
  push:
    branches: [ master, develop, THESIS-68 ]


jobs:
  build-resume:
    runs-on: ubuntu-latest
    name: Create document
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Convert to pdf
      id: convert-to-pdf
      uses: xu-cheng/latex-action@v2
      with:
        root_file: main.tex
        working_directory: src
    - uses: actions/upload-artifact@v2
      with:
        name: PDF
        path: main.pdf
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GH_ACCESS_TOKEN }}
    - name: Clone repository and add document
      run: |
        git clone https://${{ secrets.GH_ACCESS_TOKEN }}@github.com/MangoInstantMessenger/MangoInstantMessenger.github.io.git ~/MangoInstantMessenger.github.io
        cp out/main.pdf  ~/MangoInstantMessenger.github.io/main.pdf
    - name: Commit report
      if: git diff --exit-code ~/MangoInstantMessenger.github.io == '1'
      run: |
        cd ~/MangoInstantMessenger.github.io
        git config --global user.name '${{ secrets.GH_NAME }}'
        git config --global user.email '${{ secrets.GH_EMAIL }}'
        git commit -am "CICD deploy from main repo"
        git push
